body {
    background-image:linear-gradient(to right, #d5efb7 , #6b5f5f );
  }
  
  .selections {
    display: flex;
    justify-content: center;
  }
  
  .selection {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 2rem;
    transition: 100ms;
  }
  
  .selection:hover {
    transform: scale(1.2);
  }
  
  .results {
    margin-top: 1rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
  }
  
  .result-score {
    margin-left: .1rem;
    font-size: 1.5rem;
    color: rgb(63, 56, 56);
  }
  
  .result-selection {
    opacity: .5;
  }
  
  .result-selection.winner {
    opacity: 1;
    font-size: 1.5rem;
  }
  h1{
    text-align: center;
    font-size: 2rem;
    color: rgb(63, 56, 56);
    text-shadow: #6b5f5f 0px 0px 1px;
  }
.reset{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-image:linear-gradient(to left, #d5efb7 , #6b5f5f );
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 2rem;

  }